/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2017, 10:57:33 AM
    Author     : Luc Desforges
*/
*
{
    font-size: 105%;
}
body
{
    background-image: url(Images/Background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    
}
.regle
{
    background-image: url(Images/Back.gif);
    background-repeat: repeat;
    background-size: 100% 80%;
}
header img
{
    position: fixed;
    width:  22%;
    z-index: 1;
    margin-bottom: 2%;
}
nav
{
    position: fixed;
    margin-top: 25%;
}
.normal a
{
    color: #000090
}
.normal
{ 
    margin-left: 1.5%;
    padding: 5%;
    list-style: none;
    text-align: center;
    border-radius: 100px;
    border: 8px double teal;
    color: blue;
    background-color: white;
    width: 100%;
    margin-right: 10%
}
.normal:hover 
{ 
    background: cyan;
    border-color: white;
    color: cyan 
}
.normal a:hover
{
    color: #5050C0    
}
.retour
{ 
    margin-left: 1.5%;
    padding: 5%;
    list-style: none;
    text-align: center;
    border-radius: 100px;
    border: 8px double purple;
    color: red;
    background-color: white;
    width: 100%
}
.retour:hover 
{ 
    background: violet;
    border-color: white;
    color: red
}
.retour a:hover
{
    color: white
}
.retour a
{
    color: purple
}
footer p
{
    display: block;
    margin-left: 27%;
    margin-right: auto;
    text-align: center;
    color: #900090;
    padding: 0.2%;
    text-align: center;
    border-radius: 100px;
    border: 8px double purple;
    color: purple;
    background-color: white;
    width: 45%;
    position: relative;
}
.text
{  
    display: block;
    margin-left: 25%;
    text-align: right;
    color: #900000;
    padding: 3.4%;
    text-align: center;
    border-radius: 100px;
    border: 8px double brown;
    color: red;
    background-color: white;
    width: 35%;
    margin-right: 30%
}
aside li
{  
    position: fixed;
    margin-left: 75%;
    width: 30%;
    margin-top: 15% ;
}

section
{
    position: relative;
    display: block;
    margin-left: 23%;
    text-align: center;
    color: #900090;
    padding: 0.2%;
    text-align: center;
    border-radius: 100px;
    border: 8px double grey;
    color: grey;
    background-color: white;
    width: 50%;
}
.logo
{
    width: 25%;
    margin-left: -5%;
    border-radius: 20px;
    border: 8px double grey;
    background-color: white;    
}
ul a
{
    list-style-type: none;
}
.aucun
{
    list-style-type: none;
}
.first li h4
{
    margin-left: 0%;
}
ol li
{
    text-align: left
}
section p:hover
{
    border-radius: 60px;
    border: 16px double white;
    font-family: Verdana;
    background-color: #CC00FF;
    color: #FFFF00;
    padding: 2%;
}
h2
{
    font-size: 150%;
    font-family: Arial;
    font-weight: 900;
}
h3
{
    font-size: 125%;
    font-family: Arial;
}
ol li ol li
{
    font-size: 0%;
    padding-bottom: 3%
}
.I:hover ol li
{
    font-size: 85%
}
ol ul li
{
    font-size: 0%;
}
.I:hover  ul li
{
    font-size: 85%
}
.I:hover ol li ul li
{
    font-size: 0%
}
ol ul li:hover ol li ol li
{
    font-size: 75%
}
.go:hover li .suite
{
    
}
li .suite
{
    font-size: 0%
}

