/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2017, 2:39:17 PM
    Author     : Luc Desforges
*/
*
{   
    font-family: "Times", Georgia, Serif;
    color: red    
}

h1
{
    font-weight: bold;
    font-size: larger;
    background-color: red;
    margin-right: 75%;
    color: white;
    border-color: black;
    padding: 2px
}
ul
{
    list-style-type: square
}
.bob
{
    font-size: small
        
}
h6
{
    opacity: 0.0;
}
